.sidebar-container {
  display: flex;
  height: 100%;
}

.menu-title {
  padding: 10px;
  text-align: center;
  color: rgba(128, 128, 128, 0.486);
  border-bottom: 1px solid rgba(128, 128, 128, 0.158);
}

.image-expand {
  width: 20px;
}

.css-wljo3u {
  position: relative;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #000000;
  -webkit-transition: width, left, right, 1000ms;
  transition: width, left, right, 1000ms;
  width: 200px;
  min-width: 200px;
}

.css-1cuxlhl::after {
  display: none;
}


/*  TESTE DE ARROW */

#arrow {
  transition: transform 0.2s;
}

#arrow.clicked {
  transform: rotate(180deg);
}